<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<a href="/login">Already have an Account? Log in Now</a>

    
    <form action="/register" method="post">
        <label for="name">PFull Name</label>
        <input type="text" name="Name">
        <label for="email">Email</label>
        <input type="email" name="Email">
        <label for="password">Password</label>
        <input type="text" name="Password">
        <input type="submit" value="Register">
    </form>
</body>
</html>