<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="//cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css">
  

<body>
   <!-- Button trigger modal -->
    <h1>Add Product</h1>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
 
  </button>
  

            <form action="/theproducts" method="post">
                
                  <label for="exampleInputEmail1" class="form-label">Name</label>
                  <input type="text"  id="exampleInputEmail1" aria-describedby="emailHelp" name = "pname">
                
                
                
                  <label for="exampleInputPassword1" class="form-label">Buying Price</label>
                  <input type="number"  id="exampleInputPassword1" name="BP">
              
                
                    <label for="exampleInputPassword1" class="form-label">Selling Price</label>
                    <input type="number"  id="exampleInputPassword1" name =SP>
                

                  
                    <label for="exampleInputPassword1" class="form-label">Stock Quantity</label>
                    <input type="number"  id="exampleInputPassword1" name =ST>
           
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
   
    <h1>The products</h1>


    <table id="myTable">
        <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Buying_price</th>
                <th>selling_price</th>
                <th>stock_quantity</th>
            </tr>
        </thead>
        <tbody>
            {%for p in myproducts%}
            <tr>
                <td>{{ p[0]}} </td>
                <td>{{p[1]}}</td>
                <td>{{p[2]}}</td>
                <td>{{p[3]}}</td>
                <td>{{p[4]}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js"></script>
    <script src="//cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>
    <script>
        let table = new DataTable('#myTable');
    </script>
    

</body>

</html>